.user-level img {
	width: 100%;
	max-width: 200px !important;
}
.dokan-store .profile-info{
display: block !important;
}
.dokan-store .profile-info ul li {
	display: none !important;
}
#dokan-seller-listing-wrap .seller-listing-content .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-data h2 {
	padding: 0 !important;
	margin-bottom: 70px;
}
.store-data-container .sales-listing {
	display: none !important;
}
.dokan-seller-rating {
    display: none
}
.dokan-seller-rating.wd-rating {
    display: block
}